.product-container {
    img {
        width: 212.5px;
        height: 200px;
        object-fit: cover;
        border-radius: 6.8px;
        cursor: pointer;
    }

    h3{
        margin-top: 30px;
        color: white;
    }
}
