.product-leftIcon, .product-rightIcon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: white;

}
.product-leftIcon:hover, .product-rightIcon:hover{
    width: 30px;
height: 30px;
}

.banner{

    img{
        cursor: pointer;
    }
}

